body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1212e957;
}

.container {
  text-align: center;
}

.send-button {
  border: unset;
  border-radius: 25px;
  font-weight: bold;
  padding: 0.4em 0.7em;
  margin-left: 20em;
  outline: none;
}

.clear-button,.person1,.person2 {
  border: unset;
  border-radius: 25px;
  font-weight: bold;
  padding: 0.4em 0.7em;
  outline: none;
}

.send-button:hover,.clear-button:hover,.person1:hover,.person2:hover {
  cursor: pointer;
  background-color: cadetblue;
}

.send-button:active,.clear-button:active,.person1:active,.person2:active {
  transform: translateY(4px);
}

.textarea {
  width: 27em;
  height: 5em;
  padding: 1em;
  border: unset;
  outline: none;
  border-radius: 25px;
  resize: none;
}

.div-container {
  display: none;
  margin: auto;
  height: auto;
  width: 23em;
  border-radius: 25px;
  padding: 0.7em;
  background-color: #00000042;  
}

.text-container {
  border: 1px solid #dedede;
  background-color: #f1f1f1dc;
  border-radius: 10px 10px 10px 0;
  width: fit-content;
  word-break: break-all;
  padding: 0.3em;
  display: block;
  margin-bottom: 0.15em;
}

.content {
  margin-left:auto;
  margin-right:0;
  border-radius: 10px 10px 0px 10px;
}

.nav-section {
  display: none;
  position: fixed; 
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0,0,0,0.4); 
}

.nav {
  position: relative;
  top: 12.5em;
  left: 10em;
}

.nav>.person1 {
  margin-bottom: 8px;
}

.box1 {
  display: none;
  color: #ff0000e7;
  text-align: center;
  margin-right: 300px;
  margin-top: 57px;
}

@media screen and (max-width: 375px) {
  .nav {
    position: relative;
    top: 12.5em;
    left: 6em;
  }

  .textarea {
    width: 17em;
  }

  .send-button {
    margin-left: 10em;
  }
  
  .div-container {
    width: 15em;
  }

  .box1 {
    margin-right: 10em;
  }
}
