body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1212e957;
}

.container {
  text-align: center;
}

.container h1 {
  font-size: 2em;
  margin: 0;
}

#theme > strong {
  line-height: 2em;
  font-size: 1.2em;
}

.display {
  position: relative;
  top: 2.5em;
  right: 17em;
}

#theme {
  display: none;
  position: absolute;
  left: 38%;
  padding: 1.5em 0;
  z-index: 1;
  background-color: #fff;
  width: 15em;
}

#theme > button {
  width: 15em;
  border-radius: unset;
  margin: 0.5em;
  padding: 1em 0;
}

.send {
  margin-left: 18em;
}

.open-modal-button {
  cursor: pointer;
}

.button {
  border: unset;
  border-radius: 1.5em;
  font-weight: 700;
  padding: 0.5em 1.5em;
  outline: none;
  cursor: pointer;
}

.button:hover {
  background-color: cadetblue;
}

.button:focus {
  border: 1px solid black;
}

.button:active {
  transform: translateY(0.4em);
}

.message-input-box {
  display: block;
  margin: 1em auto;
  height: auto;
  font-size: 1.1em;
  width: 25em;
  padding: 1em 1.5em 0 1.5em;
  border-radius: 2em;
  outline: none;
  overflow: hidden;
  resize: none;
}

.message-input-box:focus {
  border: 0.1em solid black;
  background-color: #c3f6ff;
}

.div-container {
  display: none;
  margin: auto;
  height: auto;
  width: 23em;
  border-radius: 1.2em;
  background-color: #00000042;
  padding: 0.7em;
}

.text {
  padding: 0.5em;
}

.content {
  background-color: #f1f1f1;
  width: fit-content;
  margin-bottom: 0.5em;
  border-radius: 0.5em;
}

.person-two {
  margin: 0 0 0.5em auto;
}

.overlay {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #00000066; 
}

.overlay-open {
  overflow-y: hidden;
  padding-right: 1em;
}

.person-options {
  display: none;
  position: fixed;
  left: 58%;
  top: 30%;
  width: fit-content;
  z-index: 1;
}

.person-options .button {
  margin-bottom: 8px;
}

.message-count {
  text-align: center;
}

.message-form {
  height: auto;
  margin-bottom: 5em;
}

.arrow-right {
  position: relative;
  left: 0.4em;
  float: right;
  width: 0;
  height: 0;
  border-top: 0.7em solid transparent;
  border-bottom: 0.7em solid transparent;
  border-left: 0.7em solid #f1f1f1;
  clear: both;
}

.arrow-left {
  position: relative;
  right: 0.4em;
  float: left;
  width: 0;
  height: 0;
  border-top: 0.7em solid transparent;
  border-bottom: 0.7em solid transparent; 
  border-right: 0.7em solid #f1f1f1;
}

.delete-modal {
  display: none;
  position: fixed;
  top: 10em;
  left: 41%;
  padding: 2em 2em 3em;
  border-radius: 0.8em;
  text-align: center;
  background-color: #fff;
  z-index: 1;
}

.delete-modal > h2 {
  margin: 0 0 0.5em;
}

.delete {
  color: #fff;
  background-color: #e0245e;
  margin-left: 1em;
}

.message-value {
  max-width: 15em;
  height: auto;
  word-wrap: break-word;
}

@media screen and (max-width: 425px) {
  .display {
    top: 2em;
    right: 11em;
  }

  .container h1 {
    font-size: 1.5em;
    margin: 0 0 0 2.5em;
  }

  .delete-modal {
    left: 22%;
  }

  .form {
    position: fixed;
    top: 0;
    width: 100%;
    padding-bottom: 1em;
    z-index: 1;
  }

  .output {
    position: relative;
    top: 10em;
    margin-bottom: 12em;
  }

  #theme > strong {
    font-size: 1.4em;
  }

  #theme {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #theme > button {
    width: 90%;
    border-radius: unset;
    margin: 0.5em;
    font-size: 1.2em;
    font-weight: 500;
  }

  .overlay-open {
    padding-right: 0;
  }
}

@media screen and (max-width: 375px) {
  .display {
    top: 1em;
    right: 10em;
  }

  .message-input-box {
    font-size: 0.95em;
  }

  .send {
    margin-left: 12em;
  }

  .div-container {
    width: 20em;
  }

  .delete-modal {
    left: 18%;
  }
}

@media screen and (max-width: 320px) {
  .display {
    top: 1.5em;
    right: 8em;
  }

  .container h1 {
    font-size: 1.5em;
    margin: 1em 0 0 0;
  }

  .div-container {
    width: 18em;
  }

  .delete-modal {
    left: 12%;
  }

  .message-input-box {
    font-size: 0.85em;
  }
}
